<div class="container">
  <div class="row justify-content-center text-white">
    <div class="col-12 col-md-8 m-1 text-center">
      <h1>概要</h1>
    </div>
    <div class="col-12 col-md-8 m-1 text-center">
      <p>このサイトではアマチュアアーティストのための、新しい音楽を見つけたい人のためのサイトです。</p>
      <p>アーティストで登録した方はまずは自分が作った音楽をMP4で上げてみましょう。</p>
      <p>そこから音楽にいいねをもらって誰かのお気に入りの音楽になりましょう。</p>
      <p>また、リスナーで登録した方はまずは投稿一覧でお気に入りの音楽を見つけて再生してみてください！</p>
      <p>もしお気に入りの音楽を見つけたら「♥」を押して自分のいいね一覧リストにいれてみましょう！</p>
      <p><h4>それではみなさん是非新しい音楽の世界を楽しみましょう～！！</h4></p>
    </div>
    <div class="col-12 col-md-8 m-1 text-center">
      <%= image_tag 'about-photo.png', class: "img-fluid w-80 h-60 mx-auto d-block" %>
    </div>
  </div>
</div>